<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns = "http://www.springframework.org/schema/beans"
   xmlns:xsi = "http://www.w3.org/2001/XMLSchema-instance"
   xmlns:context="http://www.springframework.org/schema/context"
   xsi:schemaLocation = "http://www.springframework.org/schema/beans
   http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
   http://www.springframework.org/schema/context
   http://www.springframework.org/schema/context/spring-context-3.0.xsd">
   
   <context:property-placeholder location="classpath:coach.properties"/>
   

    <bean id="fortuneService" class="com.purnima.springdemo.HappyFortuneService"></bean>


	<bean id="myCoach" class="com.purnima.springdemo.CricketCoach">
	<property name="name" value="${coach_name}"></property>
	<property name="mailid" value="${coach_emailid}"></property>
	<constructor-arg ref="fortuneService"/>
	</bean>

</beans>